<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title})%>
    <body>
        <%- include('header', {title}) %>
        <div class="content">
            <div class="error-container">
                <p class="error-message"><%= errMessage %></p>
                <a class="return" href="/">Return</a>
            </div>
        </div>
        <%- include('footer', {title}) %>
    </body>
</html>