<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title})%>
    <body>
        <%- include('header', {title}) %>

        <div class="content">
            <div class="messages-container">
                <a class="add" href="/new">New message</a>
                <ul>
                    <%
                        for(let i = messages.length - 1; i >= 0; i--){%>
                            <%- include('message', {message: messages[i]}) %>
                        <%}
                    %>
                </ul>
            </div>
        </div>
            
        <%- include('footer', {title}) %>
    </body>
</html>